body {
  background-color: #202124;
  font-family: Arial, sans-serif;
}

.head {
  height: 5vh;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.links {
  margin-top: 30px;
  display: flex;
  justify-content: center;
}

.links a {
  margin: 0px 10px;
  color: #e8eaed;
  text-decoration: none;
  font-size: 14px;
}

.links a:hover {
  text-decoration: underline;
}

.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.main-container {
  height: 75vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.search-container {
  position: relative;
  display: flex;
  align-items: center;
}

.search-container input[type="text"] {
  margin-top: 20px;
  padding: 10px;
  padding-left: 35px;
  height: 24px;
  width: 584px;
  border: 1px solid #303134;
  border-radius: 24px;
  outline: none;
  background-color: #202124;
  color: #e8eaed;
  font-size: 16px;
}

.search-container input[type="text"]:hover {
  color: #e8eaed;
  background-color: #303134;
}

.search-container input[type="text"]:focus {
  background-color: #303134;
}

.icon {
  position: absolute;
  left: 5px;
  bottom: 20px;
  fill: #aaa;
  width: 18px;
  height: 18px;
}

.button {
  display: flex;
  justify-content: center;
}

input[type="submit"] {
  color: #e8eaed;
  background-color: #303134;
  border: 1px solid #303134;
  border-radius: 4px;
  font-size: 14px;
  margin: 11px 4px;
  padding: 0 16px;
  height: 36px;
  text-align: center;
  cursor: pointer;
}

input[type="submit"]:hover {
  border-color: #5f6368;
}

.small-logo {
  margin-left: 15px;
  width: 74px;
}

h1 {
  color: #f28b82;
  font-size: 20px;
  margin-left: 35px;
  margin-bottom: 40px;
  font-weight: 100px;
}

.sub-header {
  border-bottom: 1px solid #303134;
}

.main-name {
  font-size: 16px;
  color: #e8eaed;
}

.main-block {
  font-size: 13px;
  margin-left: 35px;
  color: #bdc1c6;
}

.advanced {
  background: #202124;
  padding: 5px;
  color: #bdc1c6;
  height: 20px;
  font-size: 13px;
  border: 1px solid #5f6368;
  width: 300px;
}

label {
  display: inline-block;
  width: 150px;
  text-align: left;
  margin-right: 10px;
}

.container {
  margin-bottom: 10px;
}

.submit {
  background-color: #6c9dec;
  color: #202124;
  border: 1px solid #6c9dec;
  padding: 0 12px;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  height: 30px;
  min-width: 120px;
  margin: 10px 0;
}

.submit:hover {
  background-color: #8ab4f8;
  border: 1px solid #3079ed;
}

.image-container {
  position: relative;
}

.image-caption {
  color: #4487f6;
  position: absolute;
  white-space: nowrap;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
  text-align: right;
}

.form {
  max-width: max-content;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
